@font-face {
    font-family:"sub";
    src: url('../fonts/PlaywriteRO-variableFont_wght.ttf');
  }


/* Wrapper for the invitation card */
.invitation-wrapper {
    width: 210mm;
    height: 297mm;
    background: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.rcorners{
    border-radius: 0pt;
    border: 3.75ptsolid #dad3d3;
    padding: 1mm;
    width: 172mm;
    margin-left: 17mm;
    margin-top: 12mm;
    height: 259mm;
    top: 10mm;  
    z-index: 2;
}

.org-logo{
    font-weight: bold;
    position: absolute;
    left: 41mm;
    top: -108mm;
    width: 25mm;
    height: 25mm;
    margin: 5mm;

}

.logo{
    font-weight: bold;
    position: absolute;
    left: 74mm;
    top: 124mm;
    width: 25mm;
    height: 25mm;
    margin: 5mm;
}

.logo1{
    font-weight: bold;
    position: absolute;
    left: 49mm;
    top: -25mm;
    width: 20mm;
    height: 20mm;
    margin: 5mm;
}

.top-left-blue {
    width: 381.793mm;
    height: 13.229mm;
    background: rgb(188, 188, 224);
    transform: rotate(90deg);
    position: absolute;
    top: 115mm;
    left: -185mm;

}

.top-right-yellow {
    width: 381.793mm;
    height: 13.229mm;
    background: rgb(188, 188, 224);
    transform: rotate(0deg);
    position: absolute;
    top: 285mm;
    left: 0mm;
}

.bottom-left-yellow {
    width: 381.793mm;
    height:13.229mm;
    background: rgb(188, 188, 224);
    transform: rotate(0deg);
    position: absolute;
    top: -2mm;
    left: 0mm;
}

.middle-light-blue {
    width: 381.793mm;
    height: 13.229mm;
    background: rgb(188, 188, 224);
    transform: rotate(90deg);
    position: absolute;
    top: 115mm;
    left: 13mm;
}


.invitation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 15pt;
    text-align: center;
}

.invitation-header {
    font-size: 30pt;
    color: #27115d;
    margin-bottom: 6.085mm;
    position: absolute;
    top: -89mm;
    left: 38mm;
}
.event-name {
    font-size: 48pt;
    color: #27115d;
    margin-bottom: 2.645mm;
    position: absolute;
    top: -49mm;
    left: 19mm;
    font-family:sub;
}
.date {
    font-size: 22.677pt;
    color: #27115d;
    position: absolute;
    top: 23mm;
    left: 35mm;
    font-weight: bold;
}
.time {
    font-size: 22.677pt;
    color: #27115d;
    position: absolute;
    top: 24mm;
    left: 100mm;
    font-weight: bold;
}

.location {
    font-size: 22.677pt;
    color: #27115d;
    position: absolute;
    top: 36mm;
    left: 40mm;
    font-weight: bold;
}

/* Additional content styling */
.salutation {
    font-size: 30pt;
    color: #27115d;
    margin-bottom: 2.645mm;
    position: absolute;
    top: -121mm;
    left: 37mm;
}

.tagline {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom: 5.291mm;
    position: absolute;
    top: -108mm;
    left: 32mm;
}

.event-subheading {
    font-size: 19.842pt;
    color: #27115d;
    margin-bottom: 2.645mm;
    position: absolute;
    top: -29mm;
    left: 26mm;
}
.event-pre-description {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 50mm;
    left: 3mm;
}

.event-description {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 53mm;
    left: 1mm;
}

.event-organizer {
    font-size: 18pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 89mm;
    left: 51mm;
}

.event-other-organizers {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 99mm;
    left: 23mm;
}

.event-organizers-contact-person {
    font-size: 18pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 113mm;
    left: 55mm;
}

.event-organizers-contact-number {
    font-size: 18pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 121mm;
    left: 45mm;
}
.event-participant-1 {
    font-size: 60pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: -12mm;
    left: 111mm;
    font-weight: bold;
}

.event-participant-1-details {
    font-size: 22.677pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: 8mm;
    left: 109mm;
}

.event-participant-2 {
    font-size: 60pt;
    color: #27115d;
    margin-bottom:  1.322mm;
    position: absolute;
    top: -15mm;
    left: 19mm;
    font-weight: bold;
}
.event-participant-2-details {
    font-size: 22.677pt;
    color: #27115d;
    margin-bottom: 1.322mm;
    position: absolute;
    top: 9mm;
    left: 27mm;
}
